/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  padding: 102px 0;
  inline-size: clamp(375px, 50vw, 700px);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-size: 18px;
  font-variation-settings: "wght" var(--font-weight-text);
  color: var(--themes-main-color);
  background-color: var(--themes-background);
  background-image: repeating-linear-gradient(
      var(--background-grid-color) 0px 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      90deg,
      var(--background-grid-color) 0px 2px,
      transparent 2px 4px
    ),
    linear-gradient(
      180deg,
      var(--background-gradient-top) 0%,
      var(--background-gradient-bottom) 100%
    );
  background-size: cover;
  background-attachment: fixed;
  transition: background-image 10s ease;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  block-size: 368px;
  margin: 0 auto 104px;
  border: 2px solid var(--themes-main-color);
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--themes-background);
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-block-end: 20px;
}

.header__text {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin-block-end: 25px;
}

.theme-menu__list {
  list-style: none;
  display: grid;
  gap: 11px;
  padding-block-end: 25px;
}

.theme-menu__item {
  inline-size: 100%;
  margin-inline-start: 18px;
}

.theme-menu__button {
  position: relative;
  background: transparent;
  border: none;
  text-align: start;
  cursor: pointer;
  text-transform: uppercase;
  transition: opacity 0.6s ease;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

/*Активный режим*/

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  animation: moveArrow 0.5s ease-in-out infinite alternate;
  transition: animation 0.6s;
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

/*Фокус TAB*/
.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--themes-main-color);
  transition: width 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

/*MAIN*/

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  gap: 54px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--themes-background);
  border: 2px solid var(--themes-main-color);
}

.card__title {
  font-variation-settings: "wght" var(--font-weight-title);
  font-size: inherit;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--themes-main-color);
}

.card__middle {
  position: relative;
}

.card__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/*ФИЛЬТРЫ ДЛЯ ФОТОГРАФИЙ*/

.filter__brightness {
  filter: brightness(250%);
}

.filter__contrast {
  filter: contrast(250%);
}

.filter__greyscale {
  filter: grayscale(90%);
}

.filter__hue-rotate {
  filter: hue-rotate(0.6turn);
}

.filter__invert {
  filter: invert(100%);
}

.filter__blur {
  filter: blur(3px);
}

.filter__sepia {
  filter: sepia(0.6);
}

.card__watermark {
  position: absolute;
  inset-inline-end: 25px;
  inset-block-start: 25px;
  font-family: var(--accent-font);
  font-size: 14px;
  color: var(--themes-main-color);
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: -1px 0 var(--themes-background), 0 1px var(--themes-background),
    1px 0 var(--themes-background), 0 -1px var(--themes-background);
}

@supports (
  (text-stroke: 1px var(--themes-background)) or
    (-webkit-text-stroke: 1px var(--themes-background))
) {
  .card__watermark {
    -webkit-text-stroke: 1px var(--themes-background);
    text-stroke: 1px var(--themes-background);
    text-shadow: none;
  }
}

.card__description {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px;
  border-top: 2px solid var(--themes-main-color);
  line-height: 21px;
}

.card__bottom {
  padding: 0px 25px 25px;
  display: flex;
  justify-content: end;
  gap: 4px;
}

.card__icon-button {
  appearance: none;
  background-color: transparent;
  cursor: pointer;
  block-size: 38px;
  padding: 0;
  border: 2px solid transparent;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--themes-main-color);
  transition: border 0.3s ease;
}

.button__style {
  position: relative;
  appearance: none;
  background-color: transparent;
  border: 2px solid var(--themes-main-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.3s ease;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
  padding: 9px 17px;
}

.button__style:focus {
  outline: none;
}

.button__style:focus-visible {
  box-shadow: 2px 2px 0 var(--themes-main-color);
}

.button__style::before {
  position: absolute;
  left: 0;
  content: "";
  width: 0%;
  height: 100%;
  background-color: var(--themes-main-color);
  transition: width 0.5s ease-in-out;
}

.button__style:hover::before {
  width: 100%;
}

.button__text {
  position: relative;
  color: var(--button-text-color);
  mix-blend-mode: difference;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
}


/*Подвал*/

.footer {
  inline-size: 100%;
  margin: 54px auto 0;
  display: flex;
  justify-content: center;
}

.footer__button {
  background-color: var(--themes-background);
  padding: 15px 20px;
  flex-wrap: wrap;
  gap: 8px;
}

.floppy {
  color: var(--button-text-color);
  fill: currentColor;
  mix-blend-mode: difference;
  width: 21px; 
  height:21px;
}

@media (width <= 375px) {
  .page {
    inline-size: 100%;
  }

  .footer__button {
    inline-size: 310px;
  }

  .floppy {
    width: 28px; 
    height: 28px;
  }
}

/*Диалог*/

dialog {
  position: fixed;
  inset: 0;
  inline-size: min(357px);
  block-size: min(193px);
  border: 2px solid var(--themes-main-color);
  color: var(--themes-main-color);
  background-color: var(--themes-background);
  padding: 30px;
  display: grid;
  grid-template-rows: auto 38px;
  gap: 30px;
  font-family: var(--accent-font);
  font-size: 14px;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out;
}

dialog::backdrop {
  background-color: #000;
  opacity: 0.75;
}

dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.dialog__description {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  inline-size: 100%;
  gap: 20px;
}

.dialog__floppy {
  width: 39px;
  height: 39px;
}

.dialog__text {
  line-height: 150%;
  text-transform: uppercase;
}

.dialog__button {
  padding: 9px 17px;
}
