/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: 'Inter-Variable', 'Arial', sans-serif;
    --accent-font: 'PressStart2P-Regular', sans-serif;
    --font-weight-text: 400;
    --font-weight-title: 700;
    --themes-main-color: #000;
    --themes-background: #FFF;
    --background-grid-color: #d3d3d3;
    --background-gradient-top: #e7e7e7;
    --background-gradient-bottom: #1a1a1a;
}